* {
  box-sizing: border-box;
}

body {
  background: rgb(244, 244, 244);
}

.main-container {
  width: 100%;
  padding: 0 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.banner {
  width: 1180px;
  height: 100px;
}

.login-form h2 {
  margin-bottom: 20px;
}

.login-form input {
  width: 200px;
  display: flex;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.login-form button {
  flex: 1;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn {
  background-color: #08573c;
  color: white;
  width: 100px;
}

.signup-btn {
  background-color: #fff;
  color: black;
}

.navigation ul {
  display: flex;
  justify-content: space-around;
}

.navigation li {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #08573c;
  padding: 10px 20px;
  position: relative; /* Add this to handle absolute positioning of dropdown */
}

.dropdown-content {
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0s linear 0.5s;
  position: absolute;
  top: 100%; /* Ensure dropdown appears below the button */
  width: 200px;
}

.dropdown-content a {
  display: flex;
  text-decoration: none;
  padding: 12px 16px;
  color: #07744e;
}
.dropbtn {
  cursor: pointer;
}
.navigation li:hover .dropdown-content,
.navigation li .dropbtn:hover + .dropdown-content {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.sub-dropdown {
  display: none;
  flex-direction: column;
  align-items: center;
}

.navigation li:hover .sub-dropdown {
  display: flex;
  opacity: 1;
}

.news-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #08573c solid;
}

.news-page-image {
  display: flex;
  height: auto;
  width: 800px;
}
.news-page-image img {
  width: 100%;
}

.image-text {
  position: absolute;
  color: white;
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: center;
  display: ;
}
